/* advanced styling version */
* {
  transition: background .5s; 
}
body {
  background: #d9534f; /* #ffffff;url("http://subtlepatterns.com/patterns/debut_dark.png");*/
}
ul {
/*  font: 14px/14px Helvetica,Arial,sans-serif; */
  background:     #d9534f; /* #66CDAA;  #87240F; */ 
  box-shadow: 0 3px 3px rgba(0,0,0,.5);
   display: block;
   /*
     margin:0; padding:0;
     */
}
li {
   list-style-type :none;
  position: relative;
  display: inline-block;
  list-style: none;

}


.second-level li a {
  display: block;
  padding: 5px ;
  color: #ffffff; /* #ccc; */
  text-decoration: none;
  border-radius: 3px;
  font-size:15;
  font-weight:normal;
}

li a {
  display: block;
  padding: 15px 15px;
  color: #ffffff; /* #ccc; */
  text-decoration: none;
  border-radius: 3px;
  font-size:20;
  font-weight:bold;
}
li a:hover {
  color: white;
  background:  #71200f; 
}
.top-level {
	height:60px;

  border-bottom: 1px solid #71200f;
}
.second-level,
.third-level {
  width: 150px;
  border: 1px solid #71200f;
  border-radius: 4px;
  z-index:999;
}


/*dropdown menu styles*/
/*first level*/
.top-level li:hover .second-level {
  left: 0;
}
.second-level:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 15px;
  border-bottom: 8px solid #71200f;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.second-level {
  position: absolute;
  top: 100%;
  left: -9999em;
}
.second-level li {
  position: relative;
  display: block;
}
.second-level li a {
  margin: 0;
}

/*second level*/
.second-level li:hover .third-level {
  left: 100%;
}
.third-level:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -8px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid #71200f;
}
.third-level {
  position: absolute;
  left: -9999em;
  top: 0;
}

